In [1]:
"""
Enigma Data Science Challenge

Junia Zhang | 01.08.2016

For this exercise, you will be working with the H1B visa application data, one of the most popular datasets in Enigma. 
All questions refer to the 2014 data. Please include your code along with your answers.
"""

'\nEnigma Data Science Challenge\n\nJunia Zhang | 01.08.2016\n\nFor this exercise, you will be working with the H1B visa application data, one of the most popular datasets in Enigma. \nAll questions refer to the 2014 data. Please include your code along with your answers.\n'

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns

### Load in 2014 H1B visa application data
#### Source: https://app.enigma.io/table/us.gov.dol.oflc.h1b.2014

In [3]:
df = pd.read_csv("enigma-us.gov.dol.oflc.h1b.2014-data.csv")

### Section 1: Warm Up (1/4)

### 1.1 - NYC H-1B visa applications by company
* Compare Total Workers by Employer Name 
* Filter based on whether Work City Location 1 OR Work City Location 2 contains 'New York' (+ variations)

In [5]:
df.columns.values

array(['lca_case_number', 'status', 'lca_case_submit', 'decision_date',
       'visa_class', 'lca_case_employment_start_date',
       'lca_case_employment_end_date', 'lca_case_employer_name',
       'lca_case_employer_address', 'lca_case_employer_city',
       'lca_case_employer_state', 'lca_case_employer_postal_code',
       'lca_case_soc_code', 'lca_case_soc_name', 'lca_case_job_title',
       'lca_case_wage_rate_from', 'lca_case_wage_rate_to',
       'lca_case_wage_rate_unit', 'full_time_pos', 'total_workers',
       'lca_case_workloc1_city', 'lca_case_workloc1_state', 'pw_1',
       'pw_unit_1', 'pw_source_1', 'other_wage_source_1',
       'yr_source_pub_1', 'lca_case_workloc2_city',
       'lca_case_workloc2_state', 'pw_2', 'pw_unit_2', 'pw_source_2',
       'other_wage_source_2', 'yr_source_pub_2', 'lca_case_naics_code',
       'serialid'], dtype=object)

In [32]:
c = df[['lca_case_employer_name','lca_case_workloc1_city','lca_case_workloc2_city','total_workers']]

,lca_case_employer_name,lca_case_workloc1_city,lca_case_workloc2_city,total_workers
0,TEXAS STATE UNIVERSITY-SAN MARCOS,SAN MARCOS,ST. LOUIS,1.0
1,"EYE SPECIALISTS OF INDIANA, P.C.",INDIANAPOLIS,INDIANAPOLIS,1.0
2,"LHB, INC.",FARG,NaN,1.0
3,"WAM USA, INC.",LAWRENCEVILLE,NaN,1.0
4,"DFUSE TECHNOLOGIES, INC.",SAN JOSE,NaN,1.0
5,TAKE ENTERPRISE SERVICES INC,CHARLOTTE,NaN,1.0
6,"TAKE SOLUTIONS, INC",DOWNERS GROVE,NaN,1.0
7,"PLATTFORM ADVERTISING, INC.",LENEXA,NaN,1.0
8,PROPEL CORP.,LOUISVILLE,NaN,1.0
9,UT HEALTH SCIENCE CENTER AT SAN ANTONIO,SAN ANTONIO,NaN,1.0
10,"CITRON PHARMA, LLC",EAST BRUNSWICK,NaN,1.0
11,"ATHEROS COMMUNICATIONS, INC.",SAN JOSE,NaN,1.0
12,"ETEK IT SERVICES, INC.",CHESTERBROOK,NaN,1.0
13,"ICON TECHNOLOGIES, INC.",ALPHARETTA,ALPHARETTA,5.0
14,DEWBERRY ENGINEERS INC.,BLOOMFIELD,NaN,1.0
15,"CAREMARK, LLC",SCOTTSDALE,NaN,1.0
16,"CRISPIN PORTER & BOGUSKY, LLC",BOULDER,NaN,1.0
17,"CAREMARK, LLC",RICHARDSON,NaN,1.0
18,"LOGISTIC SOLUTIONS, INC.",JERSEY CITY,NaN,1.0
19,"FRS AMERICA, INC.",WALTHAM,SAN ANTONIO,1.0
20,UNIVERSITY OF TEXAS HEALTH SCIENCE CENTER AT S...,SAN ANTONIO,NaN,1.0
21,"SYSINTELLI, INC",TAMPA,NaN,1.0
22,"FRS AMERICA, INC.",NEW YORK,NEW YORK,1.0
23,STATOIL GULF SERVICES LLC,HOUSTON,NaN,1.0
24,CCH INCORPORATED,RIVERWOODS,NaN,1.0
25,"FRONTIER TECHNOLOGIES, LLC",ELMHURST,NaN,1.0
26,"NEXTAG, INC.",SAN MATEO,NaN,1.0
27,CCH INCORPORATED,IRVING,NaN,1.0
28,YAMILETH BEEPERS CORP,DORAL,NaN,1.0
29,"BECKMAN COULTER, INC.",CHASKA,NaN,1.0
...,...,...,...,...
519474,SKILLMAN TENNIS ASSOCIATES LLC,LONG ISLAND CITY,NaN,1.0
519475,FINGERPRINT COMMUNICAIONS LLC,NEW YORK,NaN,1.0
519476,CHICAGO WOMEN'S BASKETBALL OPERATIONS LLC,SKOKIE,NaN,1.0
519477,"TIYA POWER EQUIPMENT, INC.",BELTSVILLE,NaN,1.0
519478,"PERZO, INC.",PALO ALTO,NaN,1.0
519479,"INTERNATIONAL CODE COUNCIL, INC",BREA,NaN,1.0
519480,"ZILLOW, INC.",SEATTLE,NaN,1.0
519481,"THE ALEXANDER GROUP, INC.",CHICAGO,NaN,1.0
519482,CATALYST INC,NEW YORK,NaN,1.0
519483,"ADP TECHNOLOGY SERVICES, INC.",ALPHARETTA,NaN,1.0
519484,"WONDERWORK, INC",NEW YORK,NaN,1.0
519485,"BITLY, INC.",NEW YORK,NaN,1.0
519486,MACHER (USA) INC.,VENICE,NaN,1.0
519487,JACOBI PROPERTIES LLC,CHICAGO,NaN,1.0
519488,"CUMMING CONSTRUCTION MANAGEMENT, INC.",SAN DIEGO,NaN,1.0
519489,CWC INTERNATIONAL INC.,SUGAR LAND,NaN,1.0
519490,"LCC INTERNATIONAL, INC.",AUSTIN,NaN,1.0
519491,CALIFORNIA STATE UNIVERSITY FULLERTON,FULLERTON,NaN,1.0
519492,LAMBSCROFT MINISTRIES,NASHVILLE,NaN,1.0
519493,"XAXIS, INC.",LOS ANGELES,NaN,1.0
519494,"ALFRESCO SOFTWARE AMERICAS, INC.",SAN MATEO,ATLANTA,1.0
519495,CHROMASUN INC,SAN JOSE,NaN,1.0
519496,SPARK FUN ELECTRONICS INC,NIWOT,NaN,1.0
519497,FRIENDS OF TRACY AVIARY,SALT LAKE CITY,NaN,1.0
519498,ASP INC.,SARASOTA,NaN,1.0
519499,BROWN AND CALDWELL,LOS ANGELES,NaN,1.0
519500,"ALFRESCO SOFTWARE AMERICAS, INC.",ATLANTA,NaN,1.0
519501,PACIFIC RESOURCES FOR EDUCATION AND LEARNING,HONOLULU,NaN,1.0
519502,"GROUNDPROBE NORTH AMERICA, LLC",TUCSON,NaN,1.0
519503,"VERI, INC.",NEW YORK,NaN,1.0

In [50]:
nyc = c[c.lca_case_workloc1_city.str.contains("NEW YORK", na=False) | c.lca_case_workloc2_city.str.contains("NEW YORK", na=False) | c.lca_case_workloc1_city.str.contains("NYC", na=False) | c.lca_case_workloc2_city.str.contains("NYC", na=False)]

In [51]:
nyc = nyc[['lca_case_employer_name','total_workers']]
nyc = nyc.groupby(['lca_case_employer_name']).sum().sort_values('total_workers',ascending = False)

                                                    total_workers
lca_case_employer_name
PRICEWATERHOUSECOOPERS, LLP                                5835.0
DELOITTE CONSULTING LLP                                    3474.0
ERNST & YOUNG U.S. LLP                                     2663.0
DELOITTE & TOUCHE LLP                                      2053.0
MPHASIS CORPORATION                                        1792.0
CAPGEMINI FINANCIAL SERVICES USA INC                       1172.0
WIPRO LIMITED                                              1172.0
TATA CONSULTANCY SERVICES LIMITED                           946.0
IGATE TECHNOLOGIES INC.                                     817.0
JPMORGAN CHASE & CO.                                        630.0
BLOOMBERG, LP                                               621.0
PRICEWATERHOUSECOOPERS ADVISORY LLC                         600.0
GOLDMAN, SACHS & CO.                                        599.0
PRICEWATERHOUSECOOPERS LLP                                  560.0
AMAZON CORPORATE LLC                                        541.0
DELOITTE TAX LLP                                            534.0
ITNEWTON INC                                                483.0
DELOITTE TRANSACTIONS AND BUSINESS ANALYTICS LLP            450.0
MORGAN STANLEY & CO. LLC                                    448.0
INFOSYS LIMITED                                             437.0
EXLSERVICE.COM, LLC                                         427.0
RBC CAPITAL MARKETS, LLC                                    412.0
MERRILL LYNCH                                               400.0
MINDTREE LIMITED                                            390.0
DELOITTE &AMP; TOUCHE LLP                                   340.0
BANK OF AMERICA N.A.                                        328.0
CREDIT SUISSE SECURITIES (USA) LLC                          311.0
GOOGLE INC.                                                 289.0
COLUMBIA UNIVERSITY                                         288.0
LARSEN & TOUBRO INFOTECH LIMITED                            280.0
...                                                           ...
INFOSHIRE, INC                                                1.0
INFORMATION RESOURCES, INC.                                   1.0
INFORMATICA CORPORATION                                       1.0
INFORMATIC TECHNOLOGIES INC                                   1.0
INSIGHT RESEARCH GROUP USA                                    1.0
INSIGHT STRATEGY ADVISORS LLC                                 1.0
INTELLECT TECHNOLOGIES                                        1.0
INSIGHT STRATEGY GROUP                                        1.0
INTELLECT BUSINESS SOLUTIONS, LLC                             1.0
INTEL AMERICA'S                                               1.0
INTEGRO USA INC.                                              1.0
INTEGRITY TOYS, INC.                                          1.0
INTEGRATED RESOURCES, INC.                                    1.0
INTEGRATED PROJECT DELIVERY PARTNERS, INC.                    1.0
INTEGRATED MEDIA SOLUTIONS PARTNERS, LLC                      1.0
INTEGRATED MANAGEMENT SYSTEMS, INC.                           1.0
INTEGRATED MANAGEMENT SOLUTIONS USA LLC                       1.0
INTEGRATED INFO SYSTEMS, INC                                  1.0
INTEGRAL AD SCIENCE                                           1.0
INSTITUTIONAL LIFE SERVICES LLC                               1.0
INSTITUTIONAL CAPITAL NETWORK INC.                            1.0
INSTITUTE OF AUDIO RESEARCH, LLC.                             1.0
INSTITUTE FOR TRANSPORTATION AND DEVELOPMENT POLIC            1.0
INSTITUTE FOR INTERNATIONAL RESEARCH, INC.                    1.0
INSTITUTE FOR HUMAN IDENTITY INC                              1.0
INSTITUTE FOR HUMAN IDENTITY                                  1.0
INSTITUTE FOR COMMUNITY LIVING, INC.                          1.0
INSTANT VINTAGE INC.                                          1.0
INSIGHTLAB PACIFIC, INC.                                      1.0
LAW OFFICES OF GERALD KARIKARI PC                             1.0

[8977 rows x 1 columns]

In [54]:
filename = "top_20_nyc_applicants.csv"
top_20 = nyc.head(20)
top_20.to_csv(filename)

In [55]:
filename = "full_ranked_nyc_applicants.csv"
nyc.to_csv(filename)

### 1.2 - NYC and Mountain View Wages Comparison
* For the purposes of this exercise, only looking at proposed wages set at 'Year' Wage Rate Unit

In [4]:
w = df[['lca_case_employer_name',
       'lca_case_job_title',
       'lca_case_wage_rate_from', 
       'lca_case_wage_rate_unit', 
       'full_time_pos', 
       'total_workers',
       'lca_case_workloc1_city',
       'pw_1',
       'pw_unit_1', 
       'pw_source_1', 
       'other_wage_source_1',
       'yr_source_pub_1', 
       'lca_case_workloc2_city',
       'pw_2', 
       'pw_unit_2', 
       'pw_source_2',
       'other_wage_source_2']]

In [64]:
ny = w[w.lca_case_workloc1_city.str.contains("NEW YORK", na=False) | w.lca_case_workloc2_city.str.contains("NEW YORK", na=False) | w.lca_case_workloc1_city.str.contains("NYC", na=False) | w.lca_case_workloc2_city.str.contains("NYC", na=False)]
mv = w[w.lca_case_workloc1_city.str.contains("MOUNTAIN VIEW", na=False) | w.lca_case_workloc2_city.str.contains("MOUNTAIN VIEW", na=False)]

In [153]:
ny = ny[['lca_case_employer_name',
       'lca_case_job_title',
       'lca_case_wage_rate_from', 
       'lca_case_wage_rate_unit', 
       'full_time_pos', 
       'total_workers']]

mv = mv[['lca_case_employer_name',
       'lca_case_job_title',
       'lca_case_wage_rate_from', 
       'lca_case_wage_rate_unit', 
       'full_time_pos', 
       'total_workers']]

In [71]:
nyy = ny[ny['lca_case_wage_rate_unit'] == 'Year']
mvy = mv[mv['lca_case_wage_rate_unit'] == 'Year']

In [75]:
def total_wages(x):
    return x['lca_case_wage_rate_from'] * x['total_workers']

In [76]:
nyy['total_wages'] = nyy.apply(total_wages, axis = 1)
mvy['total_wages'] = mvy.apply(total_wages, axis = 1)

/Users/junia.zhang/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/junia.zhang/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [83]:
def wage_mean(y):
    return y.total_wages.sum()/y.total_workers.sum()

In [92]:
mean_ny = wage_mean(nyy)
mean_mv = wage_mean(mvy)

print "The mean proposed annual wage rate in  New York is " + '$' + str(round(mean_ny,1))
print "The mean proposed annual wage rate in  Mountain View is " + '$' + str(round(mean_mv,1))

The mean proposed annual wage rate in  New York is $89199.8
The mean proposed annual wage rate in  Mountain View is $104033.8

In [105]:
nyy['varw'] = ((nyy['lca_case_wage_rate_from'] - mean_ny) ** 2) * nyy['total_workers']
mvy['varw'] = ((mvy['lca_case_wage_rate_from'] - mean_mv) ** 2) * mvy['total_workers']

/Users/junia.zhang/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/junia.zhang/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [124]:
def wage_var(z):
    return z.varw.sum()/z.total_workers.sum()

def wage_sd(z):
    return math.sqrt(wage_var(z))

In [125]:
variance_ny = wage_var(nyy)
variance_mv = wage_var(mvy)

stddev_ny = wage_sd(nyy)
stddev_mv = wage_sd(mvy)

print "The standard deviation of the proposed annual wage rates in  New York is " + '$' + str(round(stddev_ny,1))
print "The standard deviation of the proposed annual wage rates in  Mountain View is " + '$' + str(round(stddev_mv,1))

The standard deviation of the proposed annual wage rates in  New York is $68983.4
The standard deviation of the proposed annual wage rates in  Mountain View is $27223.8

### Z-test to compare whether the two populations are statistically different
#### Hypothesis: Wages proposed for Mountain View workers are significantly higher than wages proposed for New York workers

In [139]:
z = (mean_mv - mean_ny)/math.sqrt(variance_mv/mvy.total_workers.sum() + variance_ny/nyy.total_workers.sum())
print "The z-statistic for the two populations means is " + str(round(z,2))

The z-statistic for the two populations means is 38.98

In [140]:
def p_val(zs):
    from scipy.stats import norm
    return 2*(1 - norm.cdf(abs(z)))

In [146]:
pv = p_val(z)
print "The p-value for the two populations means is " + str(round(pv,2))

The p-value for the two populations means is 0.0

### 1.3 - Relationship between H1B visas requested by an employer and the average wages proposed in NYC

In [5]:
rny = w[w.lca_case_workloc1_city.str.contains("NEW YORK", na=False) | w.lca_case_workloc2_city.str.contains("NEW YORK", na=False) | w.lca_case_workloc1_city.str.contains("NYC", na=False) | w.lca_case_workloc2_city.str.contains("NYC", na=False)]

In [6]:
rnyy = rny[rny['lca_case_wage_rate_unit'] == 'Year']

rnyy = rnyy[['lca_case_employer_name',
       'lca_case_wage_rate_from', 
       'total_workers']]

In [7]:
rnyy['tot'] = rnyy['lca_case_wage_rate_from'] * rnyy['total_workers']

In [8]:
r = rnyy.groupby('lca_case_employer_name').sum()
r['avg_wage'] = r['tot']/r['total_workers']

In [9]:
r = r[['total_workers','avg_wage']]

In [29]:
sns.set(style="ticks", context="talk")

g = sns.lmplot(x='total_workers', y='avg_wage', data=r, size=7)
g.set_axis_labels("Total Number of Workers Requested", "Employer's Average Proposed Wage Rate")

g.savefig('workers_vs_wage.png')

#### Remove outliers

In [45]:
rf = r[(r.avg_wage < 200000) & (r.total_workers < 10)]

In [46]:
gf = sns.lmplot(x='total_workers', y='avg_wage', data=rf, size=7)
gf.set_axis_labels("Total Number of Workers Requested", "Employer's Average Proposed Wage Rate")

gf.savefig('workers_vs_wage_filtered.png')

In [40]:
print r.corr(method='pearson')
print rf.corr(method='pearson')

               total_workers  avg_wage
total_workers       1.000000 -0.000894
avg_wage           -0.000894  1.000000
               total_workers  avg_wage
total_workers        1.00000   0.01827
avg_wage             0.01827   1.00000